body {
  font-family: 'Oxanium', sans-serif;
}

/* Animasi masuk */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

/* Glow Neon */
.neon {
  color: #fff;
  text-shadow:
    0 0 5px rgba(255,255,255,0.8),
    0 0 10px rgba(255,255,255,0.6),
    0 0 20px #00f0ff,
    0 0 40px #00f0ff,
    0 0 80px #00f0ff;
}
